<a href="https://colab.research.google.com/github/tarushsingh09/Titanic_H20_cluster/blob/main/E21CSEU0974_LAB_4_H20_CLUSTER_Titanic_dataset_INTELLIGENT_MODEL_DESIGN_TARUSH_SINGH_EB_13_G2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Step 1: Install and start H2O
!pip install h2o

Collecting h2o
  Downloading h2o-3.42.0.3.tar.gz (240.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 240.9/240.9 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from h2o) (2.31.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.10/dist-packages (from h2o) (0.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->h2o) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->h2o) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->h2o) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->h2o) (2023.7.22)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.42.0.3-py2.py3-none-any.whl size=240945068 sha256=719fed3e4db6d4fc18f84e0d192c4b4b55ff4195430b7aa5bd80ba54e728cec3
  Stored in directory: /root/.cache/pip/wheels/f9/7d/1d/e1258f0558603969a8393cb5b22a18e313337f01627a118302
Successfully built h2o
Installing collected packages: h2o
Successfully installed h2o-3.42.0.3

In [2]:
import h2o
h2o.init()

# Step 2: Import data from a local file
data_path = "/content/kaggle_titanic.csv"
data = h2o.import_file(data_path)

# Step 3: Perform basic data transformation and exploration
data.summary()
data.head()

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.20.1" 2023-08-24; OpenJDK Runtime Environment (build 11.0.20.1+1-post-Ubuntu-0ubuntu122.04); OpenJDK 64-Bit Server VM (build 11.0.20.1+1-post-Ubuntu-0ubuntu122.04, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.10/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmprnqx5kby
  JVM stdout: /tmp/tmprnqx5kby/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmprnqx5kby/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  -----------------------------------------------------------------------------------------
H2O_cluster_uptime:         08 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.42.0.3
H2O_cluster_version_age:    23 days
H2O_cluster_name:           H2O_from_python_unknownUser_xkwfhz
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.170 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null, "colab_language_server": "/usr/colab/bin/language_service"}
H2O_internal_security:      False
Python_version:             3.10.12 final
--------------------------  -----------------------------------------------------------------------------------------

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

<ipython-input-2-8e0521f35eba>:9: H2ODeprecationWarning: ``summary()`` is deprecated, please use ``show_summary()`` or ``get_summary()`` instead
  data.summary()

         PassengerId        Survived            Pclass              Name                                                 Sex     Age                 SibSp               Parch               Ticket              Fare               Cabin    Embarked
-------  -----------------  ------------------  ------------------  ---------------------------------------------------  ------  ------------------  ------------------  ------------------  ------------------  -----------------  -------  ----------
type     int                int                 int                 string                                               enum    real                int                 int                 int                 real               enum     enum
mins     1.0                0.0                 1.0                 NaN                                                          0.42                0.0                 0.0                 693.0               0.0
mean     446.0              0.3838383838383838  2.3086419753086447  NaN                                                          29.69911764705884   0.5230078563411893  0.3815937149270483  260318.5491679275   32.20420796857465
maxs     891.0              1.0                 3.0                 NaN                                                          80.0                8.0                 6.0                 3101298.0           512.3292
sigma    257.3538420152301  0.4865924542648575  0.8360712409770491  NaN                                                          14.526497332334035  1.1027434322934315  0.8060572211299488  471609.26868834975  49.69342859718089
zeros    0                  549                 0                   0                                                            0                   608                 678                 0                   15
missing  0                  0                   0                   0                                                    0       177                 0                   0                   230                 0                  687      2
0        1.0                0.0                 3.0                 Braund, Mr. Owen Harris                              male    22.0                1.0                 0.0                 nan                 7.25                        S
1        2.0                1.0                 1.0                 Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0                1.0                 0.0                 nan                 71.2833            C85      C
2        3.0                1.0                 3.0                 Heikkinen, Miss. Laina                               female  26.0                0.0                 0.0                 nan                 7.925                       S
3        4.0                1.0                 1.0                 Futrelle, Mrs. Jacques Heath (Lily May Peel)         female  35.0                1.0                 0.0                 113803.0            53.1               C123     S
4        5.0                0.0                 3.0                 Allen, Mr. William Henry                             male    35.0                0.0                 0.0                 373450.0            8.05                        S
5        6.0                0.0                 3.0                 Moran, Mr. James                                     male    nan                 0.0                 0.0                 330877.0            8.4583                      Q
6        7.0                0.0                 1.0                 McCarthy, Mr. Timothy J                              male    54.0                0.0                 0.0                 17463.0             51.8625            E46      S
7        8.0                0.0                 3.0                 Palsson, Master. Gosta Leonard                       male    2.0                 3.0                 1.0                 349909.0            21.075                      S
8        9.0                1.0                 3.0                 Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)    female  27.0                0.0                 2.0                 347742.0            11.1333                     S
9        10.0               1.0                 2.0                 Nasser, Mrs. Nicholas (Adele Achem)                  female  14.0                1.0                 0.0                 237736.0            30.0708                     C
[891 rows x 12 columns]

  PassengerId    Survived    Pclass  Name                                                 Sex       Age    SibSp    Parch    Ticket     Fare  Cabin    Embarked
-------------  ----------  --------  ---------------------------------------------------  ------  -----  -------  -------  --------  -------  -------  ----------
            1           0         3  Braund, Mr. Owen Harris                              male       22        1        0       nan   7.25             S
            2           1         1  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female     38        1        0       nan  71.2833  C85      C
            3           1         3  Heikkinen, Miss. Laina                               female     26        0        0       nan   7.925            S
            4           1         1  Futrelle, Mrs. Jacques Heath (Lily May Peel)         female     35        1        0    113803  53.1     C123     S
            5           0         3  Allen, Mr. William Henry                             male       35        0        0    373450   8.05             S
            6           0         3  Moran, Mr. James                                     male      nan        0        0    330877   8.4583           Q
            7           0         1  McCarthy, Mr. Timothy J                              male       54        0        0     17463  51.8625  E46      S
            8           0         3  Palsson, Master. Gosta Leonard                       male        2        3        1    349909  21.075            S
            9           1         3  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)    female     27        0        2    347742  11.1333           S
           10           1         2  Nasser, Mrs. Nicholas (Adele Achem)                  female     14        1        0    237736  30.0708           C
[10 rows x 12 columns]

In [3]:
# Step 4: Train regression and classification models
from h2o.estimators import H2OGeneralizedLinearEstimator

# Assuming you want to predict the 'Survived' column.
target_column_name = "Survived"

model = H2OGeneralizedLinearEstimator()
model.train(x=data.columns, y=target_column_name, training_frame=data)

glm Model Build progress: |

/usr/local/lib/python3.10/dist-packages/h2o/estimators/estimator_base.py:192: RuntimeWarning: Dropping bad and constant columns: [Name]
  warnings.warn(mesg["message"], RuntimeWarning)
/usr/local/lib/python3.10/dist-packages/h2o/estimators/estimator_base.py:192: RuntimeWarning: We have detected that your response column has only 2 unique values (0/1). If you wish to train a binary model instead of a regression model, convert your target column to categorical before training.
  warnings.warn(mesg["message"], RuntimeWarning)

██████████████████████████████████████████████████████| (done) 100%

Model Details
=============
H2OGeneralizedLinearEstimator : Generalized Linear Modeling
Model Key: GLM_model_python_1694793753047_1


GLM Model: summary
    family    link      regularization                               number_of_predictors_total    number_of_active_predictors    number_of_iterations    training_frame
--  --------  --------  -------------------------------------------  ----------------------------  -----------------------------  ----------------------  ------------------
    gaussian  identity  Elastic Net (alpha = 0.5, lambda = 0.0329 )  159                           6                              2                       kaggle_titanic.hex

ModelMetricsRegressionGLM: glm
** Reported on train data. **

MSE: 0.14638312925635727
RMSE: 0.3826004825615844
MAE: 0.31781417145999463
RMSLE: 0.2700522640737368
Mean Residual Deviance: 0.14638312925635727
R^2: 0.3810608067982926
Null degrees of freedom: 890
Residual degrees of freedom: 884
Null deviance: 210.72727272727357
Residual deviance: 130.42736816741433
AIC: 832.4670881897658

Scoring History:
    timestamp            duration    iterations    negative_log_likelihood    objective            training_rmse       training_deviance    training_mae         training_r2
--  -------------------  ----------  ------------  -------------------------  -------------------  ------------------  -------------------  -------------------  ------------------
    2023-09-15 16:03:00  0.000 sec   0             210.72727272727357         0.23650647893072232
    2023-09-15 16:03:00  0.152 sec   2                                                             0.3826004825615844  0.14638312925635727  0.31781417145999463  0.3810608067982926

Variable Importances:
variable     relative_importance    scaled_importance    percentage
-----------  ---------------------  -------------------  --------------------
Sex.female   0.21237054467201233    1.0                  0.33222535716120455
Sex.male     0.21237054467201233    1.0                  0.33222535716120455
Pclass       0.12715914845466614    0.5987607587062146   0.19892350691528596
Age          0.051937419921159744   0.24456037442185088  0.08124915773977733
SibSp        0.025410935282707214   0.1196537651770502   0.03975201487162841
Fare         0.009987817145884037   0.04703014328709918  0.015624606150899152
Cabin.A10    0.0                    0.0                  0.0
Cabin.A14    0.0                    0.0                  0.0
Cabin.A16    0.0                    0.0                  0.0
Cabin.A19    0.0                    0.0                  0.0
---          ---                    ---                  ---
Cabin.F38    0.0                    0.0                  0.0
Cabin.F4     0.0                    0.0                  0.0
Cabin.G6     0.0                    0.0                  0.0
Cabin.T      0.0                    0.0                  0.0
Embarked.C   0.0                    0.0                  0.0
Embarked.Q   0.0                    0.0                  0.0
Embarked.S   0.0                    0.0                  0.0
PassengerId  0.0                    0.0                  0.0
Parch        0.0                    0.0                  0.0
Ticket       0.0                    0.0                  0.0
[159 rows x 4 columns]


[tips]
Use `model.explain()` to inspect the model.
--
Use `h2o.display.toggle_user_tips()` to switch on/off this section.

In [5]:
# Step 5: Evaluate models and make predictions
performance = model.model_performance()
print(performance)

ModelMetricsRegressionGLM: glm
** Reported on train data. **

MSE: 0.14638312925635727
RMSE: 0.3826004825615844
MAE: 0.31781417145999463
RMSLE: 0.2700522640737368
Mean Residual Deviance: 0.14638312925635727
R^2: 0.3810608067982926
Null degrees of freedom: 890
Residual degrees of freedom: 884
Null deviance: 210.72727272727357
Residual deviance: 130.42736816741433
AIC: 832.4670881897658

In [6]:
# Step 6: Improve performance by tuning and stacking (not shown here)
# Step 6: Hyperparameter Tuning
from h2o.grid.grid_search import H2OGridSearch

# Define a grid of hyperparameters to search
hyperparameters = {
    'alpha': [0.01, 0.1, 0.3, 0.5],
    'lambda': [1e-5, 1e-6, 1e-7]
}

# Create a grid search object
grid = H2OGridSearch(H2OGeneralizedLinearEstimator(),
                     hyper_params=hyperparameters)

# Train the grid of models
grid.train(x=data.columns, y=target_column_name, training_frame=data)

# Get the best model from the grid search
best_model = grid.get_grid()[0]

# Evaluate the best model
best_performance = best_model.model_performance()
print("Best Model Performance:")
print(best_performance)

# Step 7: Connect to H2O cluster in the cloud (if needed)
# If you have a cloud-based H2O cluster, provide the appropriate URL, username, and password.
# h2o.init(url="your_cloud_cluster_url", username="your_username", password="your_password")

glm Grid Build progress: |███████████████████████████████████████████████████████| (done) 100%

/usr/local/lib/python3.10/dist-packages/h2o/grid/grid_search.py:429: UserWarning: Adding alpha array to hyperparameter runs slower with gridsearch. This is due to the fact that the algo has to run initialization for every alpha value. Setting the alpha array as a model parameter will skip the initialization and run faster overall.
  warnings.warn(w_message)

Best Model Performance:
ModelMetricsRegressionGLM: glm
** Reported on train data. **

MSE: 0.11427407842640827
RMSE: 0.33804449178533924
MAE: 0.24189576156526563
RMSLE: 0.23904373373700605
Mean Residual Deviance: 0.11427407842640827
R^2: 0.516824744323888
Null degrees of freedom: 890
Residual degrees of freedom: 731
Null deviance: 210.72727272727357
Residual deviance: 101.81820387792978
AIC: 917.8308984549814